{% extends '@admin/layout.twig' %}

{% block title "Edit posts" %}

{% block body %}

    <h1>Chose a post to edit</h1>

    <a href="{{ path('blog.admin.create') }}" class="btn prm">Create new</a>

    <table class="striped pad1">
        <thead>
            <tr>
                <td>Title</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td class='buttons'>
                        <a href="{{ path('blog.admin.edit', {id:item.id}) }}" class="btn prm">Edit</a>
                        <a href="{{ path('blog.admin.delete', {id:item.id}) }}" class="btn prm">Edit</a>
                        <form action="{{ path('blog.admin.delete', {id:item.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn dng">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ paginate(items, 'blog.admin.index') }}

{% endblock %}
